{{- /* layouts/partials/head.html */ -}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }}</title>

<!-- SEO Meta Tags -->
<meta name="description" content="{{ .Description }}">
<meta name="keywords" content="kokeshi, dolls, painting, sumi, gansai, calligraphy, japanese, art, dot, line">
<meta name="author" content="{{ .Site.Params.author }}">

<!-- Link to favicon -->
<link rel="icon" href="{{ "favicon.ico" | relURL }}">

<!-- Link to CSS files -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">

<!-- Any additional custom CSS or external stylesheets -->
{{ block "head" . }}{{ end }}
